{% load static %}
<section class="newsletter py-5">
  <section class="text-center">
    <div class="container p-3">
      <h1 class="text-center text-dark">ĐĂNG KÝ NGAY</h1>
      <h2 class="text-center">GIẢM GIÁ 30% ĐƠN HÀNG</h2>
      <form action="#" method="Post" class="mb-4">
        <input type="text" name="text" placeholder="Enter Your Email" />
        <button type="button" class="btn btn-default">Subcribe</button>
      </form>
    </div>
  </section>
  <section class="footer">
    <div class="container">
      <div class="row" style="width: 100%;">
        <div class="col-12 col-md-4 col-xs-4 col-sm-12">
          <a class="py-2 py-2" href="/">
            <img src="{% static 'images/banana.png' %}" alt="" with="100%" height="50" />
          </a>
          <div class="i-locate-footer">
            <p>
              <i class="fas fa-street-view"></i>319 C16 Lý Thường Kiệt, Phường 15,
              Quận 11, Tp.HCM
            </p>
            <p><i class="fas fa-phone-volume"></i>076 922 0162</p>
            <p><i class="fas fa-envelope-open-text"></i>demonhunterg@gmail.com</p>
            <p><i class="fab fa-skype"></i>demonhunterp</p>
          </div>
        </div>

        <div class="col-12 col-md-4 col-xs-2 col-sm-4">
          <p class="title pt-2">DANH MỤC</p>
          <ul class="pt-3">
            <li><a href="/" class="active">Trang chủ</a></li>
            <li><a href="/about">Giới thiệu</a></li>
            <li><a href="/contact">Liên hệ</a></li>
            <li><a href="/store">Sản phẩm</a></li>
            {% if total_fruit > 0 %}
            <li><a href="/cart">Giỏ hàng<sup
                  style="background:rgb(29, 1, 48) ;border-radius: 5px;">{{total_fruit}}</sup></a></li>
            {% else %}
            <li><a href="/cart">Giỏ hàng</a></li>
            {% endif %}
          </ul>
        </div>

        <div class="col-12 col-md-4 col-xs-4 col-sm-12">
          <p class="title pt-2 pb-3">ĐĂNG KÝ</p>
          <p>Đăng ký để nhận được được thông tin mới nhất từ chúng tôi.</p>
          <div class="">
            <form id="custom-search-form1" class="form-search form-horizontal pull-right pb-4">
              <div class="input-append span12">
                <input type="text" class="search-query" placeholder="Enter your mail" />
                <button type="submit" class="btn">
                  <i class="fas fa-paper-plane"></i>
                </button>
              </div>
            </form>
            <div class="i-footer">
              <i class="fab fa-facebook-f"></i><i class="fab fa-youtube"></i><i class="fas fa-envelope-open-text"></i><i
                class="fab fa-skype"></i>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</section>