{% load static %}
<section class="newsletter py-5">
  <section class="text-center">
    <div class="container p-3">
      <h1 class="text-center">ĐĂNG KÝ NGAY</h1>
      <h2 class="text-center">GIẢM GIÁ 30% ĐƠN HÀNG</h2>
      <form action="#" method="Post" class="mb-4">
        <input type="text" name="text" placeholder="Enter Your Email" />
        <button type="button" class="btn btn-default">Dang ki</button>
      </form>
    </div>
  </section>
</section>
<section class="footer bg-dark">
  <div class="container">
    <div class="row" style="width: 100%;">
      <div class="col-12 col-md-4 col-xs-4 col-sm-12">
        <a class="py-2 py-2" href="/">
          <img src="{% static 'images/banana.png' %}" alt="" with="100%" height="50" />
        </a>
        <div class="i-locate-footer">
          <p>
            <i class="fas fa-street-view"></i>319 C16 Lý Thường Kiệt, Phường 15,
            Quận 11, Tp.HCM
          </p>
          <p><i class="fas fa-phone-volume"></i>076 922 0162</p>
          <p><i class="fas fa-envelope-open-text"></i>demonhunterg@gmail.com</p>
          <p><i class="fab fa-skype"></i>demonhunterp</p>
        </div>
      </div>
      <div class="col-12 col-md-2 col-xs-2 col-sm-4">
        <p class="title pt-2">SẢN PHẨM</p>
        <ul class="pt-3">
          <li><a href="">Rau cu</a></li>
          <li><a href="">Hai san</a></li>
          <li><a href="">Trai cay</a></li>
          <li><a href="">Do uong</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-2 col-xs-2 col-sm-4">
        <p class="title pt-2">DANH MỤC</p>
        <ul class="pt-3">
          <li><a href="" class="active">Trang chu</a></li>
          <li><a href="">Gioi thieu</a></li>
          <li><a href="">Lien he</a></li>
          <li><a href="">Gio hang</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-4 col-xs-4 col-sm-12">
        <p class="title pt-2 pb-3">ĐĂNG KÝ</p>
        <p>Đăng ký để nhận được được thông tin mới nhất từ chúng tôi.</p>
        <form id="custom-search-form" class="form-search form-horizontal pull-right pb-4">
          <div class="input-append span12">
            <input type="text" class="search-query" placeholder="Enter your mail" />
            <button type="submit" class="btn">
              <i class="fas fa-paper-plane"></i>
            </button>
          </div>
        </form>
        <div class="i-footer">
          <i class="fab fa-facebook-f"></i><i class="fab fa-youtube"></i><i class="fas fa-envelope-open-text"></i><i
            class="fab fa-skype"></i>
        </div>
      </div>
    </div>
  </div>
</section>