{% extends 'base.html' %} {% load static %} {% block content%}

<section class="title-contain">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
        </ol>
    </nav>
</section>
{% if carts %}
<section class="badge mt-5">
    <div class="px-4 px-lg-0  mt-5" style="width: 100%;">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                        <!-- Shopping cart table -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="p-2 px-3 text-uppercase">Tên</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Giá</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Số lượng</div>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cart in carts %}
                                    <tr>
                                        <td scope="row" class="border-0">
                                            <strong> {{cart.fruit}}</strong>
                                        </td>
                                        <td class=" border-0 align-middle"><strong>{{cart.price}} vnđ</strong>
                                        </td>

                                        <td class="border-0 align-middle text-center ">
                                            <nav class="Page navigation d-flex justify-content-center">
                                                <ul class="pagination">
                                                    <li class="page-item text-center"><a class="page-link text-center"
                                                            href=""><i class="fas fa-minus"></i></a>
                                                    </li>
                                                    <li class="page-item "><a class="page-link text-center"
                                                            href="#">{{ cart.quantity}} </a></li>
                                                    <li class="page-item"><a class="page-link"
                                                            href="{% url 'plus' cart.id %}"><i
                                                                class="fas fa-plus"></i></a></li>
                                                </ul>
                                            </nav>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- End -->
                    </div>
                </div>

                <form class="row py-5 p-4 bg-white rounded shadow-sm" action="/checkout" method="Post">
                    <div class="col-lg-6">
                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Thông tin người
                            nhận hàng
                        </div>
                        <div class="p-4">
                            <p class="font-italic mb-4">Nhập chính xác thồng tin để tránh mất hàng nha.
                            </p>
                            <div class="input-group mb-4 border rounded-pill p-2">
                                <input type="text" placeholder="Nhập tên" aria-describedby="button-addon3" name="name"
                                    class="form-control border-0">
                            </div>
                            <div class="input-group mb-4 border rounded-pill p-2">
                                <input type="text" placeholder="Nhập số điện thoại" aria-describedby="button-addon3"
                                    name="phone" class="form-control border-0">
                            </div>
                            <div class="input-group mb-4 border rounded-pill p-2">
                                <input type="text" placeholder="Nhập đia chỉ nhận hàng" aria-describedby="button-addon3"
                                    name="address" class="form-control border-0">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Thông tin đơn hàng
                        </div>
                        <div class="p-4">
                            <p class="font-italic mb-4">Ship 15k không trả giá ------>
                                Chỉ ship trong nội thành HCM
                            </p>
                            <ul class="list-unstyled mb-4">
                                <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                        class="text-muted">Đơn hàng </strong><strong>{{total_price}}vnđ</strong></li>
                                <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                        class="text-muted">Ship</strong><strong>15.000vnđ</strong>
                                </li>
                                <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                        class="text-muted">Mã Khuyến mãi</strong><strong>
                                        <div class="input-group mb-4 border rounded-pill">
                                            <input type="text" placeholder="Nhập Mã khuyến mãi"
                                                aria-describedby="button-addon3" class="form-control border-0">
                                        </div>
                                    </strong></li>
                                <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                        class="text-muted">Tổng cộng</strong>
                                    <h5 class="font-weight-bold">{{total_price|add:15000}} vnđ</h5>
                                </li>
                            </ul>
                            <button type="submit" class="btn btn-dark rounded-pill py-2 btn-block border-0">Đặt
                                hàng</button>
                        </div>
                    </div>
            </div>

        </div>
    </div>
    </div>
</section>
{% else %}
<div class="container d-flex justify-content-center">
    <img src="{% static 'images/emptyCart.png' %}" alt="" style=" margin:50px auto;" />
</div>
{% endif %}

{% endblock %}